{% extends 'base.html' %}

{% block title %} Home {% endblock%}

{% block main %}

{% if user.is_authenticated %}
<div class="card">
    <h5 class="card-header">Olá {{ user.username }} </h5>
    <div class="card-body">
      <h5 class="card-title">Para acessar a lista de clientes clique abaixo</h5>
      <p class="card-text">Sistema desenvolvido em Django. </p>
      <a href="/clientes/list/" class="btn btn-primary">Lista de Clientes</a>
      <a href="/password_change/" class="btn btn-primary">Alterar Senha</a>
    </div>
</div>  
{% else %}  
<div class="card">
    <h5 class="card-header">Olá</h5>
    <div class="card-body">
      <h5 class="card-title">Para fazer o login clique abaixo</h5>
      <p class="card-text">Sistema desenvolvido em Django. Usuario: Admin Senha: 12345678</p>
      <p class="card-text">Usuario: convidado</p>
      <p class="card-text">Senha: 12345678</p>
      <a href="/login/" class="btn btn-primary">Login</a>
    </div>
</div>  
{% endif %}

{% endblock%}

{% block footer %}
  {% include 'footer.html' %}
{% endblock  %}